{% extends 'authapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="justify-content-center" style="height: auto; margin: 0px">
        <div class="text-center">
            <div class="container-fluid mt-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}